images_about/

data/raw/
data/*

!data/features/
!data/features/customer_features.csv
!data/features/user_item_features.csv

notebooks/.ipynb_checkpoints/
src/__pycache__/

models/

artifacts/*

!artifacts/segmentation_pipeline.pkl
!artifacts/item_similarity.pkl

.env

**/__pycache__/
*.pyc
data/features/customer_segments.csv